*{
    margin: 0;
    box-sizing: border-box;
}
#container{
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: center;
}
.film_text{
    width: 200px;
}
.block_films{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.film_image{
    width: 200px;
    height: 300px;
    border-radius: 10px;
}